// YOU MUST USE BEM HERE
// IMPLEMENT ALL THE RULES RELATED TO THE COMPONENTS THAT ARE PART OF YOUR DESIGN SYSTEM HERE 
// Example: input, button, card ...

// Colors:
$white: white;
$black: black;
$backgroundGray: #F6F8FB;
$aqua: #F1F9FF; 
$shadowGray: #ADADAD;
$commonBlue:#0063fb;
$inputGray: #FAFAFA;
$stoneGrayText: #767676;


// Font:
@font-face {
    font-family: "finn-regular";
    src: url(https://assets.finn.no/pkg/@warp-ds/fonts/v1/FINNTypeStrippet-Light.woff2);
}

@font-face {
    font-family: "finn-bold";
    src: url(https://assets.finn.no/pkg/@warp-ds/fonts/v1/FINNTypeStrippet-Medium.woff2);
}

// Cecilie
.header {
    background-color: #fff;
    font-size: 1.5em;
    text-decoration: none;
    vertical-align: middle;
    text-align: justify;
    display: flex;
    list-style: none;
        
    &__logo {
    width: 60px;
    }
    
    &__icons {
    width: 50px;
    }
    
    &__list {
    list-style-type: none;
    display: flex;
    list-style: none;
    }
}

body {
    margin: 0;
}

// Login page (KAJA)


    .login-card {
        background-color: $white;
        padding: 3%;
        margin: 10% 5% 10% 0;
        width: 40%;
        border-radius: 10px;
        box-shadow: 0 10px 30px $shadowGray;

        &__nav {
            display: flex;
            margin: 0 auto;
            justify-content: space-between;
            align-items: center;

            &__finn-logo img {
                width: 100%;
                max-width: 40px;
                // padding: 10% 0 0 0;
            }

            &__schibsted-logo img {
                width: 100%;
                max-width: 110px;
                // padding: 20% 20% 0 0;
            }
        }

        &__main {
            display: flex;
            flex-direction: column;

            &__h1 {
                font-family: "finn-bold";
                font-size: 34px;
                line-height: 41px;
            }

            &__form {
                display: flex;
                flex-direction: column;
                font-size: "finn-regular";

                &__input {
                    background-color: $inputGray;
                    color: $stoneGrayText;
                    padding: 27px 12px 10px;
                    border: none;
                    text-align: start;
                    border-bottom: 1px $stoneGrayText;
                    font-size: 14px;
                    line-height: 18px;
                }
                &__submit {
                    border: none;
                    background-color: $commonBlue;
                    
                }
            }
        }
    }
    .notifications-card {
        background-color: $aqua;
        margin-top: 12%;

        &__iphone {
            width: 100%;
            max-width: 200px;
            margin: 0 auto;
        }

        &__content {
            padding: 0 10%;
            font-family: "finn-regular";
            text-align: center;
        }
    }
}
