// USE THIS FILE TO CREATE THE LAYOUT AND SPECIFIC RULES FOR SCREENSHOTS 1 and 2

@use "common";

// CECILIE
body {
    margin: 0;  
}




// For the advertisement in Finn
.container {
    display: flex;
    flex-direction: row; /* Making the text on the same line */
    align-items: center; /* Align texts h1 and a vertically center */
    &__link {
          text-decoration: none;  
          border-bottom: 1px solid transparent;  

          &:hover {
              border-color: common.$commonBlue;  // Underline when hovering over the text
          }
          
       /* align-self:    Prøver å gjøre så teksten starter fra samme linje, men denne koden funka ikke?? */
    }
}

// For the ads on Finn
.card {
    display: flex;
    align-items: center;
    

    &__ad {
        max-width: 100%;
        width: 25%;
        border-radius: 3%;
    &__text {
        text-align: center;
    }
    }
}



// LOGIN PAGE (KAJA)

.login-page {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

// DEMO PAGE

h3 {
    padding: 0 0 5% 0;
}

.demo-main {
    padding: 10%;
}

.login-buttons {
    display: flex;
    padding-bottom: 5%;

    &__card {
        padding: 0 5% 0 0;
    }
}