// USE THIS FILE TO CREATE THE LAYOUT AND SPECIFIC RULES FOR SCREENSHOTS 1 and 2
@use "common.scss";

// Login page
body {
    background-color: colors.$backgroundGray;
}

.login-card {
    background-color: colors.$white;
    width: 40%;

    &__nav__logo {
        width: 100%;
        max-width: 60px;
    }
}