// USE THIS FILE TO CREATE THE LAYOUT AND SPECIFIC RULES FOR SCREENSHOTS 1 and 2

@use "common";

// CECILIE
body {
    margin: 0;
}

// For the advertisement in Finn
.container {
    display: flex;
    flex-direction: row; /* Making the text on the same line */
    align-items: center; /* Align texts h1 and a vertically center */
 
    
    &__link {
        text-decoration: none;
        border-bottom: 1px solid transparent;
        &:hover {
            border-color: common.$commonBlue; // Underline when hovering over the text
        }
        /* align-self:    Prøver å gjøre så teksten starter fra samme linje, men denne koden funka ikke?? */
    }
}

// For the  12 ads on Finn
.card {
    display: flex;
    align-items: center;
    

    &__wrapper {
        flex: 1 0 30%; /* Adjust as needed */
        text-align: center;
       
    }

    &__ad {
        max-width: 100%;
        width: 90%;
        border-radius: 2.5%;
        &:hover {
            box-shadow: 0 0 20px 0 #93c5fd80;   /* Add shadow on the img when hovering */
            border-style: 2px solid #89befb80;   /* Doesnt do anything yet */
        }
       
    } 

    &__text {
        text-align: left;
        margin: 5px 0;
    }
}



// LOGIN PAGE (KAJA)

.login-page {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 30px 20px;
    margin: 0 auto;
}

// DEMO PAGE
.demo-body {
    background-color: common.$commonBlue;
    padding: 10%;
}

.demo-main {
    padding: 10%;
    background-color: common.$white;
    border-radius: 50px;
}

.demo-h1 {
    padding: 15px 0;
    font-family: "finn-bold";
    font-size: 250%;
}

.demo-h2 {
    padding-top: 10%;
    text-decoration: underline solid 10px common.$svgIcon;
    font-size: 30px;
}

h3 {
    padding: 5% 0 2% 0;
}
